.hidden
{
	display: none;
}

body
{
	font-family: Helvetica, Arial, sans-serif;
}

#container
{
	max-width: 640px;
	margin: 0 auto;
	
}

.box1
{
	background-color: pink;
	color: #fff;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	height: 200px;
	

}

.box2
{
	background-color: red;
	color: #fff;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	height: 200px;
	

}

.box3
{
	display: none;
}

.box4
{
	display: none;
}

@media screen and (min-width: 641px) {

	#container
	{
	
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		/*justify-content: space-evenly;*/
		max-width: 1140px;

	}

	.box1
	{
		background-color: blue;
		color: #fff;
		margin: 10px;
		/*padding: 100px;*/
		border-radius: 5px;
		text-align: center;
		width: 25%;
			

	}

	.box2
	{
		background-color: purple;
		color: #fff;
		margin: 10px;
		border-radius: 5px;
		text-align: center;
		width:25%;
		
	}


	.box3
	{
		background-color: gray;
		color: #fff;
		margin: 10px;
		padding: 20px;
		border-radius: 5px;
		text-align: center;
		display: block;
		width: 25%;


	}

	.box4
	{
		background-color: brown;
		color: #fff;
		margin: 10px;
		padding: 20px;
		border-radius: 5px;
		text-align: center;
		display: block;
		width: 25%;
		
	}

}


